body {
    margin: 0;
}

.screen {
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 0fr 1fr;
}

.game-screen {
    grid-template-rows: 1fr 0fr 0fr;
    grid-template-areas: /* */
    "l a r"/* row 1 */
    "l b r"/* row 2 */
    "l c r"/* row 3 */
    ;
}

.top-bar {
    grid-area: a;
    padding: 10px;
}

.display {
    grid-area: b;
    padding: 10px;
}

.msg-bar {
    grid-area: c;
    padding: 10px;
    overflow-y: auto;
}